# Virtual Environment
.venv/
venv/
env/

# Python compiled files (junk)
__pycache__/
*.pyc

# Mac OS junk
.DS_Store

# IDE settings (Optional, keeps repo clean)
.idea/
.vscode/

# Secrets
.env

# Docker Volumes & Kestra Data (Don't upload database files!)
kestra_pg_data/
kestra_data/
vol-pgdata/
vol-pgadmin_data/
